<!DOCTYPE html>
<html>
<head>
    <title>Customer Churn Prediction</title>
</head>
<body>
    <h1>Customer Churn Prediction</h1>
    <form action="/predict" method="post">
        {% for feature in ["SeniorCitizen","partner","dependents","phone_service","internet_service","online_security","tech_support"] %}
            {{ feature }}:
            <select name="{{ feature }}">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select><br><br>
        {% endfor %}

        Contract (number):
        <input type="number" name="contract" value="1"><br><br>

        <input type="submit" value="Predict">
    </form>
</body>
</html>
